In [ ]:
索引进阶

In [2]:
import pandas as pd
import numpy as np

In [4]:
s = pd.Series(np.arange(5), index=np.arange(5)[::-1], dtype='int64')
s

4    0
3    1
2    2
1    3
0    4
dtype: int64

In [5]:
s.isin([1,3,4])

4    False
3     True
2    False
1     True
0     True
dtype: bool

In [7]:
s[s.isin([1,3,4])]

3    1
1    3
0    4
dtype: int64

In [10]:
s2 = pd.Series(np.arange(6), index=pd.MultiIndex.from_product([[0,1],['a','b','c']]))
s2

0  a    0
   b    1
   c    2
1  a    3
   b    4
   c    5
dtype: int32

In [14]:
s2.iloc[s2.index.isin([(1,'a'),(0,'b')])]

0  b    1
1  a    3
dtype: int32

In [15]:
s

4    0
3    1
2    2
1    3
0    4
dtype: int64

In [16]:
s[s>2]

1    3
0    4
dtype: int64

In [20]:
dates = pd.date_range('20220815', periods=8)
df = pd.DataFrame(np.random.randn(8,4), index=dates, columns=['A','B','C','D'])
df

                   A         B         C         D
2022-08-15 -0.476046 -1.287617 -0.329012 -0.642462
2022-08-16  1.063048  0.065958  0.485268  2.317880
2022-08-17 -1.875129 -1.370623 -0.063039 -0.279277
2022-08-18 -1.052603 -0.849330  0.474986  0.185430
2022-08-19  0.375345 -0.178299  0.397160 -0.851460
2022-08-20  0.487624 -0.575497  1.737174 -0.051465
2022-08-21  0.422342  0.543426  1.807732 -0.708301
2022-08-22 -0.335917 -0.346503 -0.953929 -0.423472

In [21]:
df.select(lambda x:x=='A', axis='columns')

AttributeError: 'DataFrame' object has no attribute 'select'

In [22]:
df.where(df<0)

                   A         B         C         D
2022-08-15 -0.476046 -1.287617 -0.329012 -0.642462
2022-08-16       NaN       NaN       NaN       NaN
2022-08-17 -1.875129 -1.370623 -0.063039 -0.279277
2022-08-18 -1.052603 -0.849330       NaN       NaN
2022-08-19       NaN -0.178299       NaN -0.851460
2022-08-20       NaN -0.575497       NaN -0.051465
2022-08-21       NaN       NaN       NaN -0.708301
2022-08-22 -0.335917 -0.346503 -0.953929 -0.423472

In [23]:
df.where(df<0, -df)

                   A         B         C         D
2022-08-15 -0.476046 -1.287617 -0.329012 -0.642462
2022-08-16 -1.063048 -0.065958 -0.485268 -2.317880
2022-08-17 -1.875129 -1.370623 -0.063039 -0.279277
2022-08-18 -1.052603 -0.849330 -0.474986 -0.185430
2022-08-19 -0.375345 -0.178299 -0.397160 -0.851460
2022-08-20 -0.487624 -0.575497 -1.737174 -0.051465
2022-08-21 -0.422342 -0.543426 -1.807732 -0.708301
2022-08-22 -0.335917 -0.346503 -0.953929 -0.423472

In [25]:
df = pd.DataFrame(np.random.randn(10,3), columns=list('abc'))
df

          a         b         c
0  0.130986  0.187031 -1.325653
1  1.718870 -1.232253  1.132597
2  1.079187 -0.533328  1.159402
3  0.760639 -0.584498  0.554246
4 -1.848858 -0.140483  1.001753
5  0.876523  0.349655 -0.607463
6 -0.101156 -1.245922 -0.376775
7  1.165576 -1.332932 -0.861085
8 -0.190670  0.408087 -0.134350
9  1.100890 -0.817284 -0.797286

In [26]:
df.query('(a<b)')

          a         b         c
0  0.130986  0.187031 -1.325653
4 -1.848858 -0.140483  1.001753
8 -0.190670  0.408087 -0.134350

In [27]:
df.query('(a<b)&(b<c)')

          a         b         c
4 -1.848858 -0.140483  1.001753